

*{
	margin: 0;
	padding: 0;

}

head,body{
	margin:0;
	padding: 0;
	background: 	#FFFFF0;
}
#Head{
z-index: 2;
	background: 	#FFFFF0;
position: fixed;
margin-top: 0px;
		border: 3px solid transparent;
  border-image: linear-gradient(135deg,#6190e8, #a7bfe8);
  border-image-slice: 1;
  height: 100px;
  width: 99.7%;
}
#logo{
	width: 130px;
	height: 110px;
	position: absolute;
}
#logo img
{
width: 130px;
height: 100px;

margin-left: 250px;

}

#Head li {

	 font-size: 2em;
  background: linear-gradient(135deg, #f7971e, #ffd200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
 
  padding: 0.3em 0.6em ;
  border: 3px solid transparent;
  border-image: linear-gradient(#ffff);
  border-image-slice: 1;
 	display: inline;
 	margin-left:80px;
	 text-align: center;
 	font-family: 'Lobster', cursive;


}

#Head ul { 
	margin-top: 30px;
margin-left: 270pt; }


#Head li:hover{
	cursor: pointer;
	 display: inline;
   background: linear-gradient(135deg, #6190e8, #a7bfe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	border: 3px solid transparent;
  border-image: linear-gradient(135deg,#6190e8, #a7bfe8);
  border-image-slice: 1;

}

#MainFrame1 {
	z-index: 1;
position:relative;

background: url(img/bk0.jpg) no-repeat;
background-size: 100%;
	height: 1000px;
	background-attachment: fixed;
}


/*6
.new-box1{
	display: inline-block;
position: relative;
margin-top: 100px;
margin-left: 160px;
	width: 400px;
	height: 250px;
	border:3px  silver solid;
}

.new-box2{

	display: inline-block;
position: relative;
margin-top: 170px;
margin-left: 160px;
	width: 400px;
	height: 250px;
	border:3px  silver solid;
}
*/
a{
	text-decoration: none;
}
#MainFrame2{
	background: url(img/bk1.jpg) no-repeat;
	width: 100%;
	height: 1000px;
	position: relative;
margin-top: 66px;
	background-size: 100%;
	 background-attachment: fixed;
}
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #ffff; 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
  background: linear-gradient(135deg,#f7971e, #ffd200);
    -webkit-box-shadow: inset 0 0 6px #ffff; 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #ffff; 
}
#MainFrame1 h2{
	position: absolute;
	width: 10%;
margin-left: 40%;
margin-top: 165px;
	cursor: pointer;
width: 26%;
   background: linear-gradient(135deg,#f7971e, #ffd200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-family: 'Lobster', cursive;
font-size:52pt;
}
#MainFrame2 h1{
	position: relative;
	width: 10%;
	left: 45%;
	top:-7%;
	cursor: pointer;
width: 10%;
   background: linear-gradient(135deg, #6190e8, #a7bfe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-family: 'Lobster', cursive;
font-size:30pt;
}


#slider { /*положение слайдера*/
    position: relative;
	text-align: center;
    top: 10px;
}

#slider{ /*центровка слайдера*/
	margin: 0 auto;
}

#slides article{ /*все изображения справа друг от доруга*/
	width: 20%;
	float: left;
}

#slides .image{ /*устанавливает общий размер блока с изображениями*/
	width: 500%;
	line-height: 0;
}

#overflow{ /*сркывает все, что находится за пределами этого блока*/
	width: 100%;
	overflow: hidden;
}

article img{ /*размер изображений слайдера*/
	width: 100%;
}

#desktop:checked ~ #slider{ /*размер всего слайдера*/
	max-width: 960px; /*максимальнная длинна*/
}

/*настройка переключения и положения для левой стрелки*/
/*если свич1-5 активны, то идет обращение к лейблу из блока с id контролс*/
#switch1:checked ~ #controls label:nth-child(5), 
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4){
	background: url(img/prev.png) no-repeat; /*заливка фона картинкой без повторений*/
	float: left;
	margin: 0 0 0 -84px; /*сдвиг влево*/
	display: block;
	height: 68px;
	width: 68px;
}

/*настройка переключения и положения для правой стрелки*/
#switch1:checked ~ #controls label:nth-child(2), 
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1){
	background: url(img/next.png) no-repeat; /*заливка фона картинкой без повторений*/
	float: right;
	margin: 0 -84px 0 0; /*сдвиг вправо*/
	display: block;
	height: 68px;
	width: 68px;
}

label, a{ /*при наведении на стрелки или переключатели - курсор изменится*/
	cursor: pointer;
}

.all input{ /*скрывает стандартные инпуты (чекбоксы) на странице*/
	display: none;
}

/*позиция изображения при активации переключателя*/
#switch1:checked ~ #slides .image{
	margin-left: 0;
}

#switch2:checked ~ #slides .image{
	margin-left: -100%;
}

#switch3:checked ~ #slides .image{
	margin-left: -200%;
}

#switch4:checked ~ #slides .image{
	margin-left: -300%;
}

#switch5:checked ~ #slides .image{
	margin-left: -400%;
}

#controls{ /*положение блока всех управляющих элементов*/
	margin: -25% 0 0 0;
	width: 100%;
	height: 50px;
}

#active label{ /*стиль отдельного переключателя*/
	border-radius: 10px; /*скругление углов*/
	display: inline-block; /*расположение в строку*/
	width: 15px;
	height: 15px;
	background: #bbb;
}

#active{ /*расположение блока с переключателями*/
	margin: 23% 0 0;
	text-align: center;
}

#active label:hover{ /*поведение чекбокса при наведении*/
	background: #76c8ff;
	border-color: #777 !important; /*выполнение в любом случае*/
}

/*цвет активного лейбла при активации чекбокса*/
#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5){
	background: #18a3dd;
	border-color: #18a3dd !important;
}

#slides .image{ /*анимация пролистывания изображений*/
	transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
}

#controls label:hover{ /*прозрачность стрелок при наведении*/
	opacity: 0.6;
}

#controls label{ /*прозрачность стрелок при отводе курсора*/
	transition: opacity 0.2s ease-out;
}

#MainFrame3{
		background: url(img/bk3.jpg);
	width: 100%;
	height: 1000px;
	position: relative;
	margin-top: -70px;
	 background-attachment: fixed;
}

#MainFrame3 a{
	text-decoration: none;
}
#MainFrame3 h1{
	position: relative;
	width: 10%;
	left: 45%;
	top:-5.5%;
	cursor: pointer;
width: 15%;
margin-top: 120px;
   background: linear-gradient(135deg, #6190e8, #a7bfe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-family: 'Lobster', cursive;
font-size:30pt;
}
.box10{
	color: #f7971e;
  }
.box11{color: #f7971e;
  }
 .box11:hover{
 	color:black;
 	transform: scale(1.6);
 }
 .box10:hover{color:black;
 	transform: scale(1.6);}
#MainFrame3 h2{
	border: 2px solid silver;
	position: absolute;
	width: 20%;
	left: 5%;
	top:-5.5%;
	text-align: center;
	cursor: pointer;
width: 35%;
margin-top: 120px;
     background: linear-gradient(135deg, #f7971e, #ffd200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-family: 'Lobster', cursive;
font-size:30pt;
}


#MainFrame3 h4{
	margin-top:50px;
	margin-left: 33%;
	
	text-align: center;
	cursor: pointer;
width: 35%;
    
font-family: 'Lobster', cursive;
font-size:23pt;
}
#MainFrame3 h3{
	border: 2px solid silver;
	position: absolute;
	width: 20%;
	left: 60%;
	
	text-align: center;
	cursor: pointer;
width: 35%;
margin-top: 15px;
   background: linear-gradient(135deg, #f7971e, #ffd200);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-family: 'Lobster', cursive;
font-size:30pt;
}
.img2{
margin-left: 70%;
margin-top: 410px;
height: 400px;
}
.img3{
margin-left: 7%;
margin-top: -400px;
height: 400px;
}
#MainFrame4 h1{
	position: relative;
	width: 10%;
	left: 45%;
	top:-5.5%;
	cursor: pointer;
width: 35%;
margin-top: 120px;
   background: linear-gradient(135deg, #6190e8, #a7bfe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-family: 'Lobster', cursive;
font-size:30pt;
}

#MainFrame4 h2{
	position: relative;
	width: 10%;
	left: 35%;
	top:-5.5%;
	cursor: pointer;
width: 35%;
margin-top: 120px;
   background: linear-gradient(135deg, #6190e8, #a7bfe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-family: 'Lobster', cursive;
font-size:30pt;
}
#MainFrame4 {
margin-top: -45px;
height: 1000px;
background: url(img/bk6.png);
background-attachment: fixed;
background-size: 100%;

	}


#MainFrame5 {
margin-top: -45px;
height: 1000px;

  background:url(https://imgur.com/a/CgLTcAC);
background-attachment: fixed;
background-size: 100%;

	}


#MainFrame5 h1{
	position: relative;
	width: 10%;
	left: 45%;
	top:-5.5%;
	cursor: pointer;
width: 15%;
margin-top: 120px;
   background: linear-gradient(135deg, #6190e8, #a7bfe8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
font-family: 'Lobster', cursive;
font-size:30pt;
}

.img3:hover {
	transform: scale(1.2);
}
.invisable{
	margin-left:7%;
	margin-top:50px;
color:#f7971e;
font-size: 15pt;
font-family: 'Lobster', cursive;
}
.img2:hover {
	margin-left:65%;
	transform: scale(1.2);
	
}

#MainFrame5 p{
	position: relative;
	width:27%;
	left:5%;
	top:-5.5%;
	cursor: pointer;

margin-top: 120px;
 text-color:black;
  
font-family: 'Lobster', cursive;
font-size:20pt;

}
